<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--116.212.115.15,118.184.18.254-->
    <!--通讯服务器-->
    <add key="serverIP" value="118.184.18.254"/>
    <!--通讯服务器端口-->
    <add key="serverPort" value="8899"/>
    <!--文件上传服务器-->
    <add key="UploadFileServer" value="http://118.184.18.254:8080/edu-server/UploadFile"/>
    <!--音视频服务器(可以包含端口)-->
    <!--139.196.217.92:10554-->
    <add key="RTSPserverIP" value="118.184.18.254"/>
    <!--UDP端口-->
    <add key="UDPPort" value="10888"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>